<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RugbyClubApp.Properties.Settings.RugbyClubConnectionString"
            connectionString="Data Source=ZYZZBRUH-PC\SQLEXPRESS2014;Initial Catalog=RugbyClub;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="RugbyClubApp.Properties.Settings.RugbyClubConnectionString1"
            connectionString="Data Source=localhost\SQLEXPRESS2014;Initial Catalog=RugbyClub;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>